ADMIN_USERNAME=admin
ADMIN_PASSWORD=自行替换复杂的密码

GATEWAY_ADMIN_SECRET=QmoutxViXKHE自行替换复杂的密钥（无需记住）
DJANGO_SECRET_KEY=PmOyvrGDFKELBLn6WS6Z0J+7FJu自行替换复杂的密钥（无需记住）
DJANGO_ALLOWED_HOSTS=django,localhost,127.0.0.1,你的域名
DJANGO_CSRF_TRUSTED_ORIGINS=https://你的域名
